{
  "openapi": "3.0.0",
  "info": {
    "title": "Calc",
    "description": "Simple calculator API hosted on APIMATIC",
    "contact": {},
    "version": "1.0"
  },
  "servers": [
    {
      "url": "http://examples.apimatic.io/apps/calculator",
      "variables": {}
    }
  ],
  "paths": {
    "/{operation}": {
      "get": {
        "tags": [
          "Simple Calculator"
        ],
        "summary": "Calculate",
        "description": "Calculates the expression using the specified operation.",
        "operationId": "Calculate",
        "parameters": [
          {
            "name": "operation",
            "in": "path",
            "description": "The operator to apply on the variables",
            "required": true,
            "style": "simple",
            "schema": {
              "$ref": "#/components/schemas/OperationType"
            }
          },
          {
            "name": "x",
            "in": "query",
            "description": "The LHS value",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "y",
            "in": "query",
            "description": "The RHS value",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "number",
                  "format": "double"
                }
              }
            }
          },
          "412": {
            "description": "Could not compute the requested calculation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CouldNotCompute"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "components": {
    "schemas": {
      "CouldNotCompute": {
        "title": "CouldNotCompute",
        "required": [
          "ServerMessage",
          "ServerCode"
        ],
        "type": "object",
        "properties": {
          "ServerMessage": {
            "type": "string",
            "description": "Represents the server's exception message"
          },
          "ServerCode": {
            "type": "integer",
            "description": "Represents the server's error code",
            "format": "int32"
          }
        },
        "description": "Is thrown when invalid input is given such as div by zero"
      },
      "OperationType": {
        "title": "OperationType",
        "enum": [
          "SUM",
          "SUBTRACT",
          "MULTIPLY",
          "DIVIDE"
        ],
        "type": "string",
        "description": "Possible operators are sum, subtract, multiply, divide"
      }
    }
  },
  "tags": [
    {
      "name": "Simple Calculator",
      "description": ""
    }
  ]
}